@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sour+Gummy:wght@100..900&family=Varela+Round&display=swap');


*,*::after,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Varela Round", serif;
    color: #0a0a0a;
    text-align: center;
    font-size: 16px;
}

html, body{
    height: 100%;
}

img{
    max-width: 100%;
}

/* TEXT STYLES */



.varela-round-regular {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
  }

.coiny-regular {
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
  }


p{
    font-size: 1.2rem;
    color: white;
}

.small-text{
    font-size: .8rem;
}

.hero-text p{
    font-size: 1.2rem;
    padding: 0 6rem;
    color: white;
    text-align: left;
    letter-spacing: .1em;
}


 h2{
    font-family: "Coiny", serif;
    font-size: 2rem;
    margin: 0;
 } 

/* ______________________ */

.container{
    display: flex;
    height: 90%;
  }


header{
    background-image: url("/assets/ribbon.jpg");
    background-size: contain;
    height: 42px;
}


.btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-content{
    background-color: #ff8181;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


footer{
    background-color: #0a0a0a;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

footer p{
    font-size: .8rem;
}

.logo{
    width: 390px;
}

.video-container{
    position: relative;
    width: 40%;
    /* height: 100vh; */
    overflow: hidden;
}

#bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video covers the container without distortion */
    display: block;
    z-index: 2;
}

.bg-img-fallback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Black with 50% opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em;
    z-index: 3;

  }

.video-overlay p{
   font-size: 1.4rem;
   text-align: left;
   text-shadow: 2px 4px 4px #0000005e;
   margin-bottom: -3px; /*this act like a paragraph spacing */
}

.backfill-image{
    display: none;
    width: 100%;
}

/* BUTTONS */

.btn-base{
    /* display: inline-block; */
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .4em 1.2em;
    border:none;
    border-radius: 2em;
    width:80%;
    width: 260px;
    margin-bottom: 1em;
    color: white;
    border: 3px solid black;
    font-weight: 900;
    letter-spacing: .1rem;
}

.btn-wrap{
    display: flex;
    flex-direction: column;
}

.bt-del{
    background-color: #00ccbc;
    color: black;
}
.bt-tik{
    background-color: #1f1f1f;
}

.bt-ins{
    background-color: #ce107c;
}

.bt-fb{
    background-color: #115cb2;
}

.btn-base:hover,
.btn-base:focus{
    background: #c54e4e;
    background-blend-mode: lighten;
    transform: scale(1.05);
    box-shadow: 0px 6px 1px #1f1f1f2a;
}


/* --------MEDIA QUERY------------ */

@media(max-width:950px){

    header{
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .logo{
        width: 300px;
        margin-bottom: 2rem;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
      }

      .col-content{
        width: 100%;
        padding: 3em;
        align-items: center;
      }

      .video-container{
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;

    }

      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25); /* Black with 50% opacity */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5em;
    
      }
    
      .video-overlay p{
       font-size: 1.2rem;
       text-align: left;
       text-shadow: 1px 2px 2px #0000005e;
       margin-bottom: -2px;
    }


}


