@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sour+Gummy:wght@100..900&family=Varela+Round&display=swap');


*,*::after,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Varela Round", serif;
    color: #0a0a0a;
    text-align: center;
    font-size: 16px;
}

img{
    max-width: 100%;
}

/* TEXT STYLES */



.varela-round-regular {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
  }

.coiny-regular {
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
  }


p{
    font-size: 1.2rem;
    color: white;
}

.hero-text p{
    font-size: 1.2rem;
    padding: 0 6rem;
    color: white;
    text-align: left;
    letter-spacing: .1em;
}


 h2{
    font-family: "Coiny", serif;
    font-size: 2rem;
    margin: 0;
 } 

/* ______________________ */

.container{
    display: flex;
    height: 90vh;
  }

  /* SECTION HERO */

/* SECTION CONTENT*/


header{
    background-image: url("/media/ribbon.jpg");
    background-size: cover;
    height: 44px;
}

/* .col-hero{
    background-image: url("/media/pink-girl.jpg");
    background-color: #676767;
    background-blend-mode: soft-light;
    background-size: cover; 
    background-position: right top;
    background-repeat: no-repeat;
    width: 40%;
    display: flex;
    align-items: center;

  } */

.video-container{
    position: relative;
    width: 40%;
    height: 100%;
    overflow: hidden;
    /* width: 40vw;
    height: 80%; */
}

.btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-content{
    background-color: #ff8181;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.logo{
    width: 390px;
    margin: 2rem;
}


#myVideo{
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video covers the container without distortion */
    display: block;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Black with 50% opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em;

  }

.video-overlay p{
   font-size: 1.4rem;
   text-align: left;
   text-shadow: 2px 4px 4px #0000005e;
   margin-bottom: -3px;
}

  footer{
    background-color: #0a0a0a;
    padding: 2rem;
  }


  /* _______COMPONENTS__________ */

/* BUTTONS */

.btn-base{
    /* display: inline-block; */
    font-family: inherit;
    font-size: 1.4rem;
    cursor: pointer;
    padding: .4em 1.4em;
    border:none;
    border-radius: 2em;
    width:80%;
    width: 260px;
    margin-bottom: 1em;
    color: white;
    border: 4px solid black;
    font-weight: 900;
    letter-spacing: .11rem;
    /* box-shadow:0 6px 10px rgba(0,0,0,.2); */
}

.btn-wrap{
    display: flex;
    flex-direction: column;
}

.bt-del{
    background-color: #00ccbc;
    color: black;
}
.bt-tik{
    background-color: #1f1f1f;
}

.bt-ins{
    background-color: #ce107c;
}

.bt-fb{
    background-color: #115cb2;
}

/* 
::-webkit-input-placeholder{
    color:#c7c7c7;
} */

.btn-base:hover,
.btn-base:focus{
    background: #c54e4e;
    background-blend-mode: lighten;
    transform: scale(1.05);
    box-shadow: 0px 6px 1px #1f1f1f2a;
}


/* --------MEDIA QUERY------------ */

@media(max-width:950px){

    .container{
        display: flex;
        flex-direction: column-reverse;
        height: 50%;
        width: 100%;
      }

      .col-content{
        width: 100%;
        padding: 3em;
        align-items: center;
      }

      .col-hero{
        width: 100%;
        height: 500px;
      }

      .video-container{
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        /* width: 40vw;
        height: 80%; */
    }

      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25); /* Black with 50% opacity */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6em;
    
      }
    
      .video-overlay p{
       font-size: 1.2rem;
       text-align: left;
       text-shadow: 1px 2px 2px #0000005e;
       margin-bottom: -2px;
    }




}
